<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <% if (locals.error) { %>
      <p class="error"><%= error %></p>
    <% } %>
    <% if (locals.errors) { %>
      <ul class="error-list">
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>
    <form id="loginForm" method="POST">
      <input type="email" id="email" placeholder="Email" name="email" required>
      <input type="password" id="password" placeholder="Password" name="password" required>
      <button type="submit">Login</button>
      <a href="/register">New bruker?</a>
    </form>
  </div>
</body>
</html>
